{% extends "base.html" %}
{% block content %}
<section id="profile-details">
    <h1>Profile Details</h1>
    <div class="info-section">
        <div class="profile-header">
            <img
                class="profile-img"
                src="{{ user.profile_image.url|default:'/static/images/default-profile.png' }}"
                alt="profile-image"
            />
            <h1>
                {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    {{ user.first_name|default:user.last_name|default:"" }}
                {% endif %}
            </h1>
            <p class="description">Username: {{ user.username }}</p>
            <p class="description">Email: {{ user.email }}</p>
            <p class="description">Age: {{ user.age }}</p>
            <p class="description">Total price: {{ total_price|floatformat:3 }}</p>
            <div class="buttons">
                <a href="{% url 'profile_edit' user.id %}" class="edit-button">Edit</a>
                <a href="{% url 'profile_delete' user.id %}" class="delete-button">Delete</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

